{% extends "layout.html" %}

{% block content %}
<h1>User List</h1>
<div class="d-flex flex-wrap" style="margin-left:15px;width: 100%">
    {% for i in items %}
    <div class="border border-primary d-block mt-10" style="width: 33%; margin-top: 20px">
        <img src="../templates/404.png" style="width: 50%" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ i.name }}</h5>
            <p class="card-text">{{ i.email }}</p>
            <a href="http://localhost:8888/users" class="btn btn-primary" >Список пользователей</a>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}